<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="../normalize.css">
    <link rel="icon" type="image/x-icon" href="../img/sofa.ico">
    <title>Furniture Shop</title>
</head>
<body>


<header class="container">
    <div class="apricot-background"></div>
    <div class="header__background"></div>
    <div class="header">
        <h1 class="logo-text"><a href="index.html">Funiro.</a></h1>
        <div class="cartLikeAvatar">
            <div class="relative  margin-right-32"><a class="link-to-likes" href="like.html"><img src="../img/Like.svg"
                                                                                                  alt="like"><span
                    class="likeCount">0</span></a></div>
            <div class="relative margin-right-32"><a class="link-to-cart" href="cart.html"><img src="../img/Cart.svg"
                                                                                                alt="cart">
                <p class="cartCount">0</p></a></div>
            <div class="avatar"><a href="#"><img src="../img/Furniture/avatar.svg" alt="avatar"></a></div>
        </div>
    </div>
</header>

<main>
    <div class="high-quality-block">
        <div class="high-quality-block__padding">
            <header class="high-quality-block__header">High-Quality Furniture Just For You</header>
            <p class="high-quality-block__paragraph">Our furniture is made from selected and best quality materials that
                are suitable for your dream home</p>
            <button class="high-quality-block__shop-now-button">Shop Now</button>
        </div>
    </div>


    <div class="three-background-img">
        <div class="three-background-img__block">
            <img class="three-background-img__left-img" src="../img/Furniture/left-img-furniture.jpg" alt="">
            <div class="relative">
                <img class="three-background-img__center-img" src="../img/Furniture/center-img-furniture.svg" alt="">
                <div class="three-background-img__center-img">
                    <div class="bohauss-block">
                        <h1 class="bohauss-block__header">Bohauss</h1>
                        <p class="bohauss-block__description">Luxury big sofa 2-seat</p>
                        <span class="bohauss-block__price">Rp 17.000.000</span>
                    </div>
                </div>
            </div>
                <img class="three-background-img__right-img" src="../img/Furniture/right-img-furniture.png" alt="">
        </div>
    </div>

    <article class="customer-assistance container">
        <section class="display-flex">
            <img class="customer-assistance__icon" src="../img/Furniture/High%20Quality.svg" alt="High Quality">
            <div>
                <h1 class="customer-assistance__header">High Quality</h1>
                <p class="customer-assistance__description">crafted from top materials</p>

            </div>
        </section>

        <section class="display-flex">
            <img class="customer-assistance__icon" src="../img/Furniture/Warranty-protection.svg"
                 alt="Warranty Protection">
            <div>
                <h1 class="customer-assistance__header">Warranty Protection</h1>
                <p class="customer-assistance__description">Over 2 years</p>

            </div>
        </section>

        <section class="display-flex">
            <img class="customer-assistance__icon" src="../img/Furniture/Free%20Shipping.svg" alt="Free Shipping">
            <div>
                <h1 class="customer-assistance__header">Free Shipping</h1>
                <p class="customer-assistance__description">Order over 150 $</p>

            </div>
        </section>

        <section class="display-flex">
            <img class="customer-assistance__icon" src="../img/Furniture/Support.svg" alt="24/7 Support">
            <div>
                <h1 class="customer-assistance__header">24 / 7 Support</h1>
                <p class="customer-assistance__description">Dedicated support</p>
            </div>
        </section>
    </article>

    <h1 class="headline">Our Products</h1>

    <div class="block-with-furniture container-for-furniture">
    </div>

    <div class="container show-more">
        <button class="show-more__button show-more__text">
            Show More
        </button>
    </div>


    <h1 class="headline headline__tips-tricks">Tips & Tricks</h1>

    <article class="tips-tricks container">

        <div class="tips-tricks__cross tips-tricks__cross-left">
            <img src="../img/Furniture/cross.svg" alt="cross">
        </div>
        <div class="tips-tricks__cross tips-tricks__cross-right">
            <img src="../img/Furniture/cross.svg" alt="cross">
        </div>


        <article class="tips-tricks-wrapper">
        <figure class="tips-tricks__block">
            <img src="../img/Furniture/slider-first-photo.svg" alt="family">
            <figcaption class="tips-tricks__text-content">
                <h5 class="tips-tricks__header">How to create a living <br> room to love</h5>
                <span class="tips-tricks__date">20 jan 2020</span>
            </figcaption>
        </figure>


        <figure class="tips-tricks__block">
            <img src="../img/Furniture/slider-second-photo.svg" alt="family">
            <figcaption class="tips-tricks__text-content">
                <h5 class="tips-tricks__header">Solution for clean look working
                    space</h5>
                <span class="tips-tricks__date">20 jan 2020</span>
            </figcaption>
        </figure>

        <figure class="tips-tricks__block">
            <img src="../img/Furniture/slider-third-photo.svg" alt="family">
            <figcaption class="tips-tricks__text-content">
                <h5 class="tips-tricks__header">Make your cooking activity
                    more fun with good setup</h5>
                <span class="tips-tricks__date">20 jan 2020</span>
            </figcaption>
        </figure>
            <figure class="tips-tricks__block">
            <img src="../img/Furniture/slider-first-photo.svg" alt="family">
            <figcaption class="tips-tricks__text-content">
                <h5 class="tips-tricks__header">How to create a living <br> room to love</h5>
                <span class="tips-tricks__date">20 jan 2020</span>
            </figcaption>
        </figure>


        <figure class="tips-tricks__block">
            <img src="../img/Furniture/slider-second-photo.svg" alt="family">
            <figcaption class="tips-tricks__text-content">
                <h5 class="tips-tricks__header">Solution for clean look working
                    space</h5>
                <span class="tips-tricks__date">20 jan 2020</span>
            </figcaption>
        </figure>

        <figure class="tips-tricks__block">
            <img src="../img/Furniture/slider-third-photo.svg" alt="family">
            <figcaption class="tips-tricks__text-content">
                <h5 class="tips-tricks__header">Make your cooking activity
                    more fun with good setup</h5>
                <span class="tips-tricks__date">20 jan 2020</span>
            </figcaption>
        </figure>

    </article>
    </article>

    <article class="points">
        <section class="dot slider dot_focused"></section>
        <section class="dot slider dot_unfocused"></section>
        <section class="dot slider dot_unfocused"></section>
        <section class="dot slider dot_unfocused"></section>
    </article>





    <article class="gallery">
        <h3 class="gallery__header-Share-your-setup-with">Share your setup with</h3>
        <h1 class="gallery__header-Funiro-Furniture">#FuniroFurniture</h1>
        <img class="gallery__image" src="../img/Furniture/gallery.svg" alt="gallery">
    </article>







    <footer>
        <div class="band container"></div>
        <article class="footer-content container">
            <section class="footer-content__contact ">
                <h3 class="footer-content__header margin-bottom-16px">Funiro.</h3>
                <p class="footer-content__text margin-bottom-16px">Worldwide furniture store since 2020. We sell over
                    1000+ branded
                    products on our website</p>
                <div class="footer-content__location margin-bottom-16px">
                    <img src="../img/Furniture/map.svg" alt="map">
                    <span class="footer-content__text margin-left-10px">Sawojajar Malang, Indonesia</span>
                </div>
                <div class="footer-content__phone margin-bottom-16px">
                    <img src="../img/Furniture/phone.svg" alt="phone">
                    <span class="footer-content__text margin-left-10px"><a class="text-decoration-none"
                                                                           href="tel:+62894563455">+6289 456 3455</a></span>
                </div>
                <a class="footer-content__text text-decoration-none" href="index.html">www.funiro.com</a>

            </section>
            <section class="footer-content__menu footer-content__item">
                <h3 class="footer-content__header ">Menu</h3>
                <ul class="list">
                    <li class="list__element"><a class="text-decoration-none" href="#">Products</a></li>
                    <li class="list__element"><a class="text-decoration-none" href="#">Rooms</a></li>
                    <li class="list__element"><a class="text-decoration-none" href="#">Inspirations</a></li>
                    <li class="list__element"><a class="text-decoration-none" href="#">About Us</a></li>
                    <li class="list__element"><a class="text-decoration-none" href="#">Terms & Policy</a></li>
                </ul>
            </section>
            <section class="footer-content__account footer-content__item">
                <h3 class="footer-content__header">Account</h3>
                <ul class="list">
                    <li class="list__element"><a class="text-decoration-none" href="#">My Account</a></li>
                    <li class="list__element"><a class="text-decoration-none" href="#">Checkout</a></li>
                    <li class="list__element"><a class="text-decoration-none" href="#">My Cart</a></li>
                    <li class="list__element"><a class="text-decoration-none" href="#">My catalog</a></li>
                </ul>
            </section>
            <section class="footer-content__stay-connected stay-connected footer-content__item">
                <h3 class="footer-content__header">Stay Connected</h3>
                <ul class="list">
                    <li class="list__element"><a class="text-decoration-none" href="#">Facebook</a></li>
                    <li class="list__element"><a class="text-decoration-none" href="#">Instagram</a></li>
                    <li class="list__element"><a class="text-decoration-none" href="#">Twitter</a></li>
                </ul>
            </section>
            <section class="footer-content__stay-updated ">
                <h3 class="footer-content__header margin-bottom-16px">Stay Updated</h3>
                <div class="display-flex enter-email">
                    <input type="email" id="email" placeholder="Enter your email">
                    <label for="email">
                        <div class="email-send-button">
                            <img src="../img/Furniture/send.svg" alt="">
                        </div>
                    </label>
                </div>
            </section>
        </article>
    </footer>
</main>

<script type="module" src="localStore.js"></script>
<script type="module" src="main.js"></script>
<script type="module" src="slider.js"></script>
<script type="module" src="render.js"></script>
<script type="module" src="hideUncoverFooter.js"></script>
</body>
</html>

