<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="../normalize.css">
    <link rel="icon" type="image/x-icon" href="../img/sofa.ico">
    <title>Furniture Shop</title>
</head>
<body>


<header class="content">
    <div class="header">
        <h1 class="logo-text">Funiro.</h1>
        <input type="search" class="search">
        <div class="cartLikeAvatar">
            <a href="#"><img src="../img/Cart.svg" alt="cart"></a>
            <a href="#"><img src="../img/Like.svg" alt="like"></a>
            <div class="avatar"><a href="#"><img src="../img/cat-avatar.svg" alt="avatar"></a></div>
        </div>
    </div>
</header>

<main>
<div class="points">
    <div class="dot dot__left-cross"><img src="../img/Line.svg" alt="left-cross"></div>
    <div class="dot slider dot_focused"></div>
    <div class="dot slider dot_unfocused"></div>
    <div class="dot slider dot_unfocused"></div>
    <div class="dot slider dot_unfocused"></div>
    <div class="dot dot__right-cross"><img src="../img/Line.svg" alt="right-cross"></div>

</div>


</main>
<footer></footer>
<script src="slider.js"></script>
</body>
</html>