@import url("../fonts/Gilroy/stylesheet.css");
@import url("../fonts/TT-Bricks/stylesheet.css");
:root {
  --color-yellow: #FFCF40;
  --color-green: #008000;
  --color-blue: #0047AB;
  --color-purple: #7851A9;
  --color-pink: #F400A1;
  --color-orange: #F36223;
  --color-grey: #646B63;
  --color-lime: #ADFF2F;
  --color-red: #F8173E;
  --color-coral: #FF7F50;
}

.colors__yellow {
  background-color: var(--color-yellow);
}
.colors__green {
  background-color: var(--color-green);
}
.colors__blue {
  background-color: var(--color-blue);
}
.colors__purple {
  background-color: var(--color-purple);
}
.colors__pink {
  background-color: var(--color-pink);
}
.colors__orange {
  background-color: var(--color-orange);
}
.colors__grey {
  background-color: var(--color-grey);
}
.colors__lime {
  background-color: var(--color-lime);
}
.colors__red {
  background-color: var(--color-red);
}
.colors__coral {
  background-color: var(--color-coral);
}

.content {
  max-width: 1277px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-right: 20px;
  padding-left: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  margin: 40px 0 40px 0;
}

.logo-text {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.avatar {
  width: 40px;
  height: 40px;
}

.cartLikeAvatar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cartLikeAvatar > a {
  margin: 0 10px 0 10px;
}

.search {
  margin: 0 20px 0 20px;
  width: 473px;
  height: 45px;
}

.points {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.dot {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 5px;
}
.dot_focused {
  background-color: #E89F71;
}
.dot_unfocused {
  background-color: #D8D8D8;
}
.dot__left-cross, .dot__right-cross {
  background-color: #E89F71;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}
.center__block {
  flex-direction: column;
  justify-content: flex-start;
}
.center__wrap {
  flex-wrap: wrap;
  justify-content: flex-start;
}

.text {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  color: #3A3A3A;
}
.text__price {
  font-size: 24px;
}

.text-h1 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  color: #3A3A3A;
  margin-bottom: 30px;
}

.dot__left-cross {
  transform: rotate(180deg);
}

.margin-bottom {
  margin-bottom: 10px;
}

.main-block {
  display: flex;
}

.favorite {
  height: 30px;
  width: 30px;
}

.buy-button {
  height: 50px;
  background-color: red;
  margin-right: 10px;
  cursor: pointer;
}

.circle {
  top: 24px;
  right: 24px;
  background-color: #2EC1AC;
  position: absolute;
  height: 48px;
  width: 48px;
  border-radius: 50%;
}
.circle__sale {
  background-color: #E97171;
}
.circle__text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
}

.block {
  background-color: #F4F5F7;
  width: 285px;
  margin-bottom: 16px;
}

.block__name {
  margin: 16px 0 8px 16px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  color: #3A3A3A;
}
.block__description {
  margin: 0 0 8px 16px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #898989;
}
.block__price {
  margin: 0 0 0 16px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #3A3A3A;
  padding-bottom: 30px;
}

.cartLikeShare {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
}

.hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #3A3A3A;
  display: none;
}
.hover .a, .hover a {
  text-decoration: none;
}
.hover__input {
  cursor: pointer;
  margin-bottom: 32px;
  z-index: 2;
  border: none;
  width: 202px;
  height: 48px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #E89F71;
}

.block:hover .hover {
  opacity: 0.3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.block:hover .cartLikeShare {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.block-div {
  z-index: 10;
  display: flex;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
}
.block-div__margin {
  text-decoration: none;
  margin-left: 10px;
}
.block-div__share {
  display: flex;
  align-items: center;
  margin-right: 24px;
}
.block-div__like {
  display: flex;
  align-items: center;
  margin-left: 24px;
}

.show-more {
  display: flex;
  justify-content: center;
}
.show-more__button {
  cursor: pointer;
  width: 245px;
  height: 48px;
  background: #FFFFFF;
  border: 1px solid #E89F71;
}
.show-more__text {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #E89F71;
}

/*# sourceMappingURL=styles.css.map */
